#doc_header{
        background-color: red;(13, 0, 255)
        height: 200px;
}
    nav{
background-color: blueviolet;(9, 93, 0)
    display: inline-flex;
    height: 450px;
    width: 200px;
    }
    nav li{
        display: flex;

    }
    nav li a{
        color: rgb(red, green, blue);
        text-decoration: none;
    margin: 0;
    
    }